.footer {
  &__subscribe {
    border: 1px solid var(--base-light-grey, #e6e6e6);
    @extend %siteFlex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 70px 60px;
    &__text {
      &__heading {
        @extend %siteFontOther;
        font-size: 60px;
        line-height: 130%;
        text-transform: uppercase;
        padding-bottom: 40px;
      }
      &__discription {
        font-size: 24px;
        font-weight: 500;
        width: 675px;
        line-height: 130%;
      }
    }
    &__form {
      @extend %siteFlex;
      flex-direction: column;
      gap: 13px;
    }
    &__input__email {
      display: flex;
      width: 500px;
      height: 90px;
      padding: 29px 30px;
      align-items: center;
      gap: 10px;
      background: #f8f8f8;
      border: none;
      color: var(--base-grey, #979797);
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
    }
    &__check {
      @extend %siteFlex;
      gap: 8px;
    }
    &__checkbox {
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
    }
    &__link {
      font-weight: 500;
      line-height: 120%;
      text-decoration-line: underline;
    }
    &__button {
      display: flex;
      width: 500px;
      height: 90px;
      padding: 28px 30px;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--base-light-grey, #e6e6e6);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      background: white;
      transition: 0.3s;
      &:hover {
        background: #f8f8f8;
      }
    }
  }
  &__nav {
    @extend %siteFlex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 74px;

    &__logos {
      @extend %siteFlex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-start;
    }
    &__social {
      @extend %siteFlex;
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border: 1px solid var(--base-light-grey, #e6e6e6);
      }
    }
    &__low__visible {
      @extend %siteFlex;
      color: $colorSite;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      gap: 20px;
      & svg {
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
      &__block {
        @extend %siteFlex;
        gap: 20px;
      }
    }
    &__afisha {
      font-size: 14px;
      font-weight: 500;
      line-height: 180%;
      & p {
        transition: 0.3s;
        &:hover {
          color: $colorHover;
          cursor: pointer;
        }
      }
      &__span {
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        padding-bottom: 30px;
      }
    }
    &__kino {
      font-size: 14px;
      font-weight: 500;
      line-height: 180%;
      & p {
        transition: 0.3s;
        &:hover {
          color: $colorHover;
          cursor: pointer;
        }
      }
      &__span {
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        padding-bottom: 30px;
      }
    }
    &__about {
      font-size: 14px;
      font-weight: 500;
      line-height: 180%;
      & p {
        transition: 0.3s;
        &:hover {
          color: $colorHover;
          cursor: pointer;
        }
      }
      &__span {
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        padding-bottom: 30px;
      }
    }
    &__info {
      font-size: 14px;
      font-weight: 500;
      line-height: 180%;
      & p {
        transition: 0.3s;
        &:hover {
          color: $colorHover;
          cursor: pointer;
        }
      }
      &__span {
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        padding-bottom: 30px;
      }
    }
  }
  &__label {
    @extend %siteFlex;
    justify-content: space-between;
    padding: 64px 0px;
    &__img {
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    &__border {
      width: 100%;
      height: 1px;
      background: #e6e6e6;
      left: 0;
      position: absolute;
    }
  }
  &__production {
    @extend %siteFlex;
    justify-content: space-between;
    color: var(--base-grey, #979797);
    font-size: 12px;
    font-weight: 500;
    line-height: 180%;
    padding-top: 30px;
    padding-bottom: 30px;
    & a {
      color: var(--base-grey, #979797);
      font-size: 12px;
      font-weight: 500;
      line-height: 180%;
    }
    &__dojo {
      @extend %siteFlex;
      gap: 10px;
      transition: 0.3s;
      :hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 425px) {
  .footer {
    &__subscribe {
      flex-direction: column;
      &__text {
        &__heading {
          font-size: 28px;
        }
        &__discription {
          font-size: 18px;
          width: auto;
        }
      }
      &__input__email {
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &__button {
        margin-top: 22px;
        width: auto;
        height: auto;
      }
    }
    &__nav {
      padding-left: 30px;
      flex-direction: column;
      &__afisha{
        padding-top: 30px;
      }
      &__kino{
        padding-top: 30px;

      }
      &__about{
        padding-top: 30px;

      }
      &__info{
        padding-top: 30px;

      }
    }

    &__label{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      padding-left: 30px;
    }

    &__production{
      flex-direction: column;
    }
  }
}
