@import "vars", "mixins", "header", "homepage", "footer";

@font-face {
  font-family: "NAMU";
  src: url("/fonts/NAMU-1930.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.center {
  @include container;
}

.body {
  @extend %siteFontMain;
  // overflow: hidden;
  color: $colorSite;
}

a{
  color: $colorSite;
}